<mat-toolbar color="primary">
  <span>Conversion Calculator</span>
</mat-toolbar>

<div fxLayout="column" fxLayoutAlign="start center" class="content">
  <nav mat-tab-nav-bar [tabPanel]="tabPanel">
    <!-- Can be refactored even more by declaring just one type of component called converter-component and we can pass the type to define which Enum (Currency or Unit) to use plus what function to call at service level -->
    <a
      mat-tab-link
      routerLink="/currency-converter"
      routerLinkActive="active-link"
      #rla1="routerLinkActive"
      >Currency Converter</a
    >
    <a
      mat-tab-link
      routerLink="/length-converter"
      routerLinkActive="active-link"
      #rla2="routerLinkActive"
      >Length Converter</a
    >
  </nav>
  <mat-tab-nav-panel #tabPanel>
    <router-outlet></router-outlet>
  </mat-tab-nav-panel>
</div>
